/* style.css */
body { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-family: sans-serif; 
	line-height: 1.5; 
	min-height: 100vh; 
	flex-direction: column; 
	margin: 0; 
    background: url(../img/hero-background.png)no-repeat fixed 50%;
	--tw-bg-opacity: 1;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity));
} 

.main { 
	/* background-color: #ffff;  */
	border-radius: 15px; 
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 500px; 
	text-align: center; 
} 

h1 { 
	color: cyan; 
} 

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: cyan;  
} 

#pass { 
	color: red; 
	font-size: 12px; 
} 

input, select { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid cyan; 
	border-radius: 5px; 
} 

button { 
	padding: 15px; 
	border-radius: 10px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer; 
	background-color: #2b8b9f9e; 
	width: 100%; 
	font-size: 16px; 
}

button:hover{
    background-color: rgb(93, 186, 186);
    color: white;
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

.login1,
.login{
    align-items: center;
	color:white;
	text-decoration: none;
}

.error{
	color: red;
}